<div class="container">
	<div class="content">
		<h1 class="card_title"><%= @set.name %></h1>
		<% if @set.name == "Math" %>
			<p class="numbers"><%=rand(1..5).to_s + " + " + rand(1..5).to_s%></p>
			<%= link_to "<div class='arrow_right'></div>".html_safe, "" %>
		<% else %>
			<% if @set.name == "Alphabet" %>
				<p class="alphabet"><%= @card.text %></p>
			<% else %>
				<p><%= @card.text %></p>
			<% end %>
			<% if @card.image_url %>
				<img src="<%= @card.image_url %>">
			<% end %>
			<%= link_to "<div class='arrow_right'></div>".html_safe, flashcard_set_card_path(@set, next_card)%>
		<% end %>
	</div>
</div>